%h2 Movies Similar To #{@movie.title}

%p#description = @movie.description

%h3 Movies By Same Director:
-if @hasSameDirector
  %ul
    -@hasSameDirector.each do |movie|
      %li
        %td = link_to "#{movie.title}", movie_path(movie)
          
%div
  = link_to 'Back to movie list', movies_path
%div
  = link_to 'Back to movie', movie_path(@movie)
